<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="style/main.css" /> 
		<script type="text/javascript">
			$(function(){
            	
            });
		</script>
	</head>
	<body>
    <span>{{stocks|length}} / {{size}}</span>
    <table border='1' width="800px">
    	<tr>
    		<td>Key</td>
    		<td>Code</td>
    		<td>Desc</td>
    		<td>Type</td>
    		
    	</tr>
    	
    {% for stock in stocks %}
    	<tr>
        	<td style="font-family:monospace">{{ stock.key }}</td>
        	<td>{{stock.code}}</td>
        	<td>{{stock.description}}</td>
            <td>{{stock.type}}</td>
        </tr>
    {% endfor %}
    	<tr>
    		<td><a href="/stocks?first={{first}}&size={{size}}" />PREV</a></td>
    		<td>&nbsp;</td>
    		<td>&nbsp;</td>
    		<td>
            	{% if render_next_link %}
            		<a href="/stocks?last={{last}}&size={{size}}" />NEXT</a>
                {% else %}
                	&nbsp;
                {% endif %}
            </td>
    		
    	</tr>
    	
    </table>
	</body>
</html>